<div class="col mb-4">
  <a href="{% if project.redirect %}{{ project.redirect }}{% else %}{{ project.url | relative_url }}{% endif %}">
    <div class="card h-100 hoverable">
      <div class="d-flex flex-row align-items-center" style="width: 100%;">
        {% if project.img %}
          <div style="flex: 0 0 35%; max-width: 35%; padding: 1rem; text-align: center;">
            {% include figure.liquid loading="eager" path=project.img alt="project thumbnail" class="card-img" style="max-height: 200px; width: auto; object-fit: contain;" %}
          </div>
        {% endif %}
        <div style="flex: 1 1 auto; padding: 1rem;">
          <h4 class="card-title font-weight-bold" style="font-size: 1.25rem;">{{ project.title }}</h4>
          <p class="card-text">{{ project.description }}</p>
            <div class="row ml-1 mr-1 p-0">
              {% if project.github %}
                <div class="github-icon">
                  <div class="icon" data-toggle="tooltip" title="Code Repository">
                    <a href="{{ project.github }}"><i class="fa-brands fa-github gh-icon"></i></a>
                  </div>
                  {% if project.github_stars %}
                    <span class="stars" data-toggle="tooltip" title="GitHub Stars">
                      <i class="fa-solid fa-star"></i>
                      <span id="{{ project.github_stars }}-stars"></span>
                    </span>
                  {% endif %}
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
